body {
  padding: 0;
}

.wordformWrapperOuter {
  box-sizing: border-box;
  height: 100vh;
  padding: 8px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wordformWrapperInner {
  height: 100%;
  
  display: flex;
  flex-direction: row;
  align-items: center;
}